<h1>List an Item</h1>

<br>

<div class="center" >
  <label>PICTURES IF I FIGURE THEM OUT</label>
</div>

<br>

<div class="row" >

  <div class="col try" >

<p class="important" >Item Name: *</p>

<p> Tags: </p>

<p class="important" >Niche Market: *</p> 

<p class="important" >Item Description: *</p>

<br>
<br>
<br>
<br>

<p>Dimensions: </p>

<p class="important" >Condition: *</p>

<p class="important" >Asking Price: *</p>

<p>Other Information: </p>

  </div>

  <div class="col test" >

<input type="text" placeholder="Pokemon Cards" #Name>

<br>
<br>

<input type="text" placeholder="#pokemon #cards" #Tags>

<br>
<br>

<form id="myForm" >
  <select id="selectCat" #Category>
    <option>Select a Category</option>
    <option>Art</option>
    <option>Cards</option>
    <option>Games</option>
    <option>Music</option>
    <option>Movies</option>
    <option>Toys</option>
  </select>
</form>

<br>

<textarea rows="5" cols="50" name="text" placeholder="It's a one of a kind first edition base set booster pack with 10 cards." #Description ></textarea>

<br>
<br>

<input type="text" placeholder="LxWxH" #Dimensions >

<br>
<br>

<form id="myForm" >
  <select id="selectCare" #Condition>
    <option>Choose a Quality</option>
    <option>Very Poor</option>
    <option>Poor</option>
    <option>Alright</option>
    <option>Almost New</option>
    <option>Brand Spanking New</option>
  </select>
</form>

<br>

<input type="text" placeholder="$0.00" #Price >

<br>
<br>

<textarea rows="5" cols="50" name="text" placeholder="This booster pack is not bent and has been taken care of, unlike some heathens." #Other ></textarea>

  </div>

</div>

<br>

<div class="center">
  <label *ngIf="fill == true" class="red">Please check and make sure all text boxes are filled out.</label>
</div>

<br>

<div class="center" >

<button type="button" class="btn btn-primary" (click)="createItem(Name.value, Price.value, Category.value, Tags.value, Description.value, Dimensions.value, Condition.value, Other.value)" >Create My Item!</button>

<br>
<br>

</div>
