* {
  padding: 0;
  margin: 0;
}
body {
  background: url(https://cdn.dribbble.com/users/969366/screenshots/9236685/media/39f1b57fe6e92e271cb3d77d338f0b30.jpg?compress=1&resize=1600x1200)
    no-repeat center;
  font-family: "Spectral SC", serif;
}
.container {
  background: snow;
  padding: 42px;
  opacity: 86%;
  width: 600px;
  height: 800px;
  position: relative;
  top: -50px;
  margin-top: 5%;
  box-shadow: 5px 10px 20px rgba(142, 119, 100, 0.8);
  border-radius: 5%;
}
.header-name h1 {
  color: #e8a534;
  padding: 5px;
  margin: 6px;
  display: flex;
  justify-content: center;
}
.container p {
  opacity: 75%;
  color: #294ddb;
}
.inputs input {
  position: relative;
}
.container .inputs {
  display: block;
  padding: 5px 0.9em;
  color: #ff652f;
  width: 100%;
  font-size: 1rem;
  margin-bottom: 27px;
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  background-color: transparent;
  transition: text-shadow ease-out 0.3s;
}
.container .inputs:hover {
  text-shadow: 0 1px 0 rgb(0 0 0 / 20%);
}
.forms .selects {
  border-radius: 100vh;
  color: #ff652f;
}
.container .texts {
  font-size: 12px;
  background: rgba(78, 45, 45, 0.288);
  border: none;
  outline: none;
  color: #ff652f;
}
textarea {
  width: 500px;
  margin-top: 0px;
  margin-bottom: 0px;
  height: 65px;
}
.btnBack {
  border-radius: 100vh;
  box-shadow: 5px 10px 20px rgba(142, 119, 100, 0.3);
  width: 15%;
  font-size: 15px;
  background: none;
  color: #294ddb;
  font-weight: bold;
  cursor: pointer;
}
.buttons .btnSave {
  display: block;
  margin-left: 125px;
  margin-top: -30px;
  padding: 0;
  width: 15%;
  box-shadow: 5px 10px 20px rgba(142, 119, 100, 0.3);
  border-radius: 100vh;
  font-size: 15px;
  background: none;
  font-weight: bold;
  color: #294ddb;
  cursor: pointer;
}
.buttons .btnNeg {
  box-shadow: 5px 10px 20px rgba(142, 119, 100, 0.3);
  padding: 0;
  display: block;
  margin-left: 30px;
  margin-top: 25px;
  width: 28%;
  border-radius: 100vh;
  font-size: 15px;
  background: none;
  font-weight: bold;
  color: #294ddb;
  cursor: pointer;
}
.buttons .btnNeg:hover {
  transition: 0.5s ease-in;
  animation: shake 3.5s;
}
.buttons .btnSave:hover {
  animation: back-and-forth 3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: translate3d(0, 0 0);
}
.buttons .btnBack:hover {
  animation: back-and-forth 3s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  transform: translate3d(0, 0 0);
}
@keyframes shake {
  0% {
    transform: translate(0px, 0px) rotate(0deg);
  }
  25% {
    transform: translate(6px, 2px) rotate(-45deg);
  }
  50% {
    transform: translate(-1px, -1px) rotate(35deg);
  }
}
@keyframes back-and-forth {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
