<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spectral+SC:wght@500&display=swap"
  rel="stylesheet" />
<html>

<body>
  <div class="header-name">
    <h1>Edit Your Niche Item</h1>
  </div>
  <div class="pictures">
    <label>PICTURES IF I FIGURE THEM OUT</label>
  </div>
  <div class="container">
    <div class="input-name">
      <p class="important">Item Name: *</p>
      <input class="inputs" type="text" placeholder="Pokemon Cards" value="{{this.currentItem.name}}" #name>
    </div>
    <div class="input-tags">
      <p> Tags: </p>
      <input class="inputs" type="text" placeholder="#pokemon #cards"  value="{{this.currentItem.tags}}" #tags>
    </div>
    <div class="input-dem">
      <p>Dimensions: </p>
      <input class="inputs" type="text" placeholder="LxWxH" value="{{this.currentItem.dimensions}}" #dimensions>
    </div>

    <div class="input-price">
      <p class="important">Asking Price: *</p>
      <input class="inputs" type="text" placeholder="$0.00" value="{{this.currentItem.askingPrice}}" #askingPrice>
    </div>
    <div class="input-forms">
      <p class="important">Niche Market: *</p>
      <form class="forms" id="myForm">
        <select class="selects" id="selectCat" value="{{this.currentItem.nicheMarket}}" #nicheMarket>
    <option>Select a Category</option>
    <option>Art</option>
    <option>Cards</option>
    <option>Cars</option>
    <option>Music</option>
    <option>Movies</option>
    <option>Toys</option>
   
  </select>
      </form>
      <p class="important">Condition: *</p>
      <form class="forms" id="myForm">
        <select class="selects" id="selectCare" value="{{this.currentItem.conditionAndAge}}" #conditionAndAge>
    <option>Choose a Quality</option>
    <option>Very Poor</option>
    <option>Poor</option>
    <option>Alright</option>
    <option>Almost New</option>
    <option>Brand Spanking New</option>
  </select>
      </form>
    </div>
    <div class="input-desc">
      <p class="important">Item Description: *</p>
      <textarea class="texts" name="text" placeholder="It's a one of a kind first edition base set booster pack with 10 cards."
    value="{{this.currentItem.description}}"  #description></textarea>
    </div>
    <div class="input-otherInfo">
      <p>Other Information: </p>
      <textarea class="texts" name="text" placeholder="This booster pack is not bent and has been taken care of, unlike some heathens."
    value="{{this.currentItem.otherInfo}}" #otherInfo></textarea>
    </div>
    <div class="nogation">
      <label>Being Negotiated: {{this.currentItem.underNegotiation}}</label>
    </div>
    <div class="buttons">

      <button type="button" class="btnBack" (click)="switchToMyItems()" >Go Back!</button>

      <button type="button" class="btnSave" (click)="save(name.value, askingPrice.value ,  nicheMarket.value, tags.value, description.value, dimensions.value, conditionAndAge.value, otherInfo.value)">Save!</button>

      <button type="button" class="btnNeg" (click) = "underNegotiation()">Toggle Being Negotiated</button>
    </div>
  </div>


  <!-- This is the commented out function load() in TS -->

</body>

</html>