<link rel="preconnect" href="https://fonts.gstatic.com" />
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Spectral+SC:wght@500&display=swap"
  rel="stylesheet" />
<html>

<body>
  <div class="header-logo">
    <h1>User Information</h1>
    <img src="https://static.thenounproject.com/png/650376-200.png" class="photo" alt="user">
  </div>
  <div class="container">

    <div class="info">

      <p>Public Name:</p>
      <input class="inputs" type="text" [readOnly]="disableSave" placeholder="Giga Chad" #PName value="{{signedInUser.publicName}}">


      <p>Email:</p>
      <input class="inputs" type="text" [readOnly]="disableSave" #Mail placeholder="example@example.com" value="{{signedInUser.email}}">

      <p>Phone Number:</p>
      <input class="inputs" type="text" [readOnly]="disableSave" #Phone placeholder="701-555-1234" value="{{signedInUser.phoneNumber}}">

      <p>About You:</p>
      <textarea rows="5" cols="50" name="text" [readOnly]="disableSave" placeholder="Here's a dramatic background story" #About value="{{signedInUser.aboutYou}}"></textarea>

    </div>

    <div class="center-btns">
      <button (click)="unDisable()" [disabled]="disableEdit" class="editButton" type="button"  >Edit!</button>
      <button [disabled]="disableSave" (click)="save(PName.value, Mail.value, Phone.value, About.value)" type="button" class="saveButton" >Save!</button>
    </div>
    <div class="link-btns">
      <button class="editButton" type="button" (click)="switchToPass()" >Change Password</button>
      <button class="editButton" type="button" (click)="switchToCItem()" >Create an Item!</button>
      <button class="editButton" type="button" (click)="switchToMyItems()" >View My Items</button>
    </div>
  </div>
</body>

</html>




<!-- <div class="col test">
    <input type="text" [readOnly]="disableSave" placeholder="Giga Chad" #PName value="{{signedInUser.publicName}}">
    <input type="text" [readOnly]="disableSave" #Mail placeholder="example@example.com" value="{{signedInUser.email}}">
    <input type="text" [readOnly]="disableSave" #Phone placeholder="701-555-1234" value="{{signedInUser.phoneNumber}}">
    <textarea rows="5" cols="50" name="text" [readOnly]="disableSave" placeholder="Here's a dramatic background story" #About value="{{signedInUser.aboutYou}}"></textarea>
  </div> -->