<html>

<body>
  <div class="header">
    <h1>Change Password</h1>
  </div>
  <div class="container">
    <div class="info">
      <p>Current Password:</p>
      <input class="inputs"type="password" #Current>
      <p>New Password:</p>
      <input class="inputs" type="password" #BrandNew>
      <div class="center">
        <label class="incorrect" *ngIf="incorrect == true">Incorrect Password!</label>
      </div>
    </div>
    <!-- confirm new + authenticate -->
    <div class="buttons">
      <button (click)="save(Current.value, BrandNew.value)" type="button" class="btnSave" >Save!</button>
      <button (click)="switchToUser()" type="button" class="btnBack" >Go Back!</button>
    </div>
  </div>
</body>

</html>