.container {
  background: url(https://cdn.dribbble.com/users/969366/screenshots/9236685/media/39f1b57fe6e92e271cb3d77d338f0b30.jpg?compress=1&resize=1600x1200)
    no-repeat center;
  opacity: 92%;
  width: 600px;
  height: 500px;
  position: relative;
  margin-top: 5%;
  box-shadow: 5px 10px 20px rgba(142, 119, 100, 0.8);
  border-radius: 5%;
}
.buttons .btnSave {
  padding: 0;
  display: block;
  margin-right: auto;
  width: 15%;
  font-size: 18px;
  background: none;
  border: none;
  color: #ff652f;
  font-weight: bold;
  cursor: pointer;
}
.buttons .btnBack {
  display: block;
  margin-left: 125px;
  margin-top: -30px;
  padding: 0;
  width: 15%;
  font-size: 18px;
  background: none;
  border: none;
  font-weight: bold;
  color: #ff652f;
  cursor: pointer;
}
h1 {
  background: grey;
  font-size: 2rem;
  margin-bottom: 15px;
  margin-top: 1.5rem;
  color: #fff;
}
p {
  font-size: 15px;
  text-transform: lowercase;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 15px;
  letter-spacing: 2px;
  color: #fff;
}
.container .info input {
  position: relative;
}
.container .info input {
  outline: none;
  width: 100%;
  padding: 25px 5px;
  font-size: 1rem;
  margin-bottom: 15px;
  border: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}
.container .incorrect {
  color: red;
}
