<h1>Change Password</h1>

<br>
<br>

<div class="center" >

<p>Current Password: <input type="password" #Current> </p>

<br>

<p>New Password: <input type="password" #BrandNew> </p>

<br>

<div class="center">
  <label *ngIf="incorrect == true">Incorrect Password!</label>
</div>

<br>

<!-- confirm new + authenticate -->

<button (click)="save(Current.value, BrandNew.value)" type="button" class="btn btn-primary back" >Save!</button>

<button (click)="switchToUser()" type="button" class="btn btn-primary back" >Go Back!</button>